.record-container{
    width: 100%; 
    max-width: 320px;
    margin-bottom: 50px;
    video{
        background-color: $black;  // in case of no video found
        width : 100%;
        margin-bottom: 20px;
    }
}