//- extension : use the layout template
extends layouts/main
include mixins/videoBlock

block content
    .home-videos
        each video in videos 
            +videoBlock({
                id: video._id,
                title: video.title,
                views: video.views,
                videoFile: video.fileUrl
            })